- page_title       @project.full_name
- page_description @project.description_html unless page_description
- header_title     project_title(@project)   unless header_title
- nav              "project"
- page_itemtype    'http://schema.org/SoftwareSourceCode'
- display_subscription_banner!
- @left_sidebar = true
- @content_class = [@content_class, project_classes(@project)].compact.join(" ")

- content_for :flash_message do
  = render "layouts/header/storage_enforcement_banner", context: @project
  = dispensable_render_if_exists "shared/namespace_storage_limit_alert"

- content_for :project_javascripts do
  - project = @target_project || @project
  - if current_user
    = javascript_tag do
      :plain
        window.uploads_path = "#{project_uploads_path(project)}";

= render template: "layouts/application"
